<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
    <video 

    #ditVideo
    src="./assets/cosmos.mp4"  
    autoplay="true"
    loop="loop"></video>
  </div>
  <div>
    <ion-button (click)="onClickStart()">start</ion-button>
    <ion-button (click)="onClickStop()">stop</ion-button>
    <ion-button (click)="onOpenNative()">Native {{openResult}}</ion-button>

  </div>
</ion-content>
